
body {
    background-color: #fafcfd;
    margin: 0;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #acacad;
    border-radius: 4px;
    border: none;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #666666;
}
::-webkit-scrollbar-track {
    background-color: #eef1f0;
}
ul {
    margin: 0;
}
