
.kanban-container {
    display: flex;
    flex-direction: row;
    padding: 16px;
    gap: 8px;
    height: calc(100vh - 50px);
    box-sizing: border-box;
}

.kanban-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 8px;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    overflow-y: scroll;
}

.kanban-item {
    background-color: red;
    cursor: pointer;
    width: calc((100vw - 126px) / 3);

    transition: all 0.3s ease;
}
