
.kanban-bg-container {
    background: linear-gradient(45deg, #f5f5dc, #e0e0d1);
}

.kanban-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - 50px);
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 768px) {
        height: calc(100vh - 4px);
    }
}

.kanban-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 16px;
    height: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
}

.kanban-title {
    margin-bottom: 8px;

    @media (max-width: 768px) {
        margin-bottom: 4px;
    }
}

.kanban-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kanban-gap {
    display: flex;
    min-height: 8px;
    width: 100%;
    border-radius: 8px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.kanban-item {
    background-color: red;
    cursor: grab;
    width: calc((100vw - 126px) / 3);
    transition: all 0.6s ease;
    overflow: hidden;
}
.kanban-item:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
