
.layout-navbar-container {
    position: fixed;
    width: 100%;
    height: 50px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

    background-color: #ffa9ff;
    border-bottom: 2px solid #cf89cf;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.layout-main-container {
    width: 100%;
    height: calc(100vh - 50px);
    transform: translateY(50px);
    box-sizing: border-box;
    overflow-y: auto;
}

.layout-taskcards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
    margin: 16px;
    margin: 0 auto;
    width: 100vw;
    max-width: 1000px;
    box-sizing: border-box;
}

.layout-login-container {
    width: 100%;
    height: calc(100vh - 50px);
    background: linear-gradient(
        135deg, 
        rgba(230, 242, 235, 0.5),
        rgba(204, 242, 255, 0.5),
        rgba(230, 204, 255, 0.5)
    );
}
