
.layout-topbar-container {
    position: fixed;
    width: 100%;
    height: 50px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: #ffa9ff;
    border-bottom: 2px solid #cf89cf;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.layout-main-container {
    width: 100%;
    height: calc(100vh - 50px);
    transform: translateY(50px);
    box-sizing: border-box;
    overflow-y: auto;
}

.layout-taskcards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    box-sizing: border-box;
}

.layout-login-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);

    background-color: #fafcfd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
