
.layout-navbar-container {
    position: fixed;
    width: 100%;
    height: 50px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: #ffa9ff;
    border-bottom: 2px solid #cf89cf;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
        grid-template-columns: 0 2fr 1fr;
        height: 40px;
    }
}

.layout-main-container {
    width: 100%;
    height: calc(100vh - 50px);
    transform: translateY(50px);
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;

    @media (max-width: 768px) {
        height: calc(100vh - 40px);
        transform: translateY(40px);
        overflow-x: auto;
    }
}

.layout-taskcards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
    margin: 16px;
    margin: 0 auto;
    width: 100vw;
    max-width: 1000px;
    box-sizing: border-box;

    @media (max-width: 768px) {
        width: 100%;
        gap: 12px;
        padding: 12px;
    }
}

.layout-login-container {
    width: 100%;
    height: calc(100vh - 50px);
    background: linear-gradient(
        135deg, 
        rgba(230, 242, 235, 0.5),
        rgba(204, 242, 255, 0.5),
        rgba(230, 204, 255, 0.5)
    );

    @media (max-width: 768px) {
        height: calc(100vh - 40px);
    }
}

.layout-about {
    width: 100%;
    height: calc(100vh - 50px);
    background: linear-gradient(
        to bottom right,
        #ffc0cb,
        #87ceeb,
        #90ee90
    );
    padding: 32px;
    box-sizing: border-box;

    @media (max-width: 768px) {
        padding: 16px;
        height: calc(100vh - 40px);
    }
}
