
.navbar-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    background-color: #ff87bb;
    height: 100%;
    padding: 0 16px;
    text-shadow: 1px 1px 2px #ffc0cb;
    cursor: pointer;
    transition: all 0.3s ease;
}
.navbar-logo:hover {
    background-color: #ff87bb;
    color: #ffffff;
    text-shadow: #ffccaa 1px 0 10px;
    transform: scale(1.05, 1);
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.navbar-option {
    cursor: pointer;
    transition: all 0.3s ease;
}
.navbar-option:hover {
    color: #ff0d8e;
    transform: scale(1.3);
}

.navbar-selected{
    color: #db4634;
    transform: scale(1.2);
    text-decoration: underline;
}
