
.taskcard-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    width: 100%;

    background-color: #d4f1f9;
    border: 1px solid #acacad;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);

    @media (max-width: 768px) {
        gap: 4px;
        padding: 8px;
    }
}

.taskcard-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    @media (max-width: 768px) {
        gap: 4px;
    }
}

.taskcard-badge {
    width: 128px;
    box-sizing: border-box;
    text-align: center;
    color: #fafcfd;
    padding: 4px;
    transform: translateX(16px);

    @media (max-width: 768px) {
        width: 112px;
        transform: translateX(8px);
    }
}

.taskcard-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;

    @media (max-width: 768px) {
        gap: 6px;
    }
}

.task-empty {
    width: 100%;
    display: flex;
    justify-content: center;
    visibility: hidden;
}
