
.typography-title1 {
    font-family: Noto Sans, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0;
    color: #2d2d2d;

    @media (max-width: 768px) {
        font-weight: 600;
        font-size: 20px;
    }
}

.typography-title2 {
    font-family: Noto Sans, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: #2d2d2d;

    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.typography-subtitle {
    font-family: Noto Sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.25px;
    color: #2d2d2d;

    @media (max-width: 768px) {
        font-size: 14px;
        letter-spacing: 0px;
    }
}

.typography-body {
    font-family: Noto Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
    color: #2d2d2d;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.typography-button {
    font-family: Noto Sans, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.75px;
    color: #2d2d2d;

    @media (max-width: 768px) {
        font-weight: 600;
        letter-spacing: 0.25px;
        font-size: 12px;
    }
}

.typography-overline {
    font-family: Noto Sans, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 1.5px;
    color: #2d2d2d;
    text-transform: uppercase;

    @media (max-width: 768px) {
        font-size: 10px;
        letter-spacing: 0.3px;
    }
}

.typography-link {
    font-family: Noto Sans, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.7px;
    color: #3c62a2;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;

    @media (max-width: 768px) {
        font-size: 12px;
        letter-spacing: 0.25px;
    }
}

.typography-error {
    font-family: Noto Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
    color: #db4634;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}
